footer{
  background-color: #cdbaf1;
  padding-top: 2%;
  padding-bottom: 1%;
}
.jumbotron
{
  background-color: #a380e0;
  color: white;
  padding: 3%;
}
.strpc{
  width: 60%;
  padding-left: 3%
}
.fsreos{
  width: 39%;
}
.ftress
{
  width: 36%;
}
.hstry{
  width: 50%;
  padding: 5%;
  padding-left: 0%;
}
.cplp{
  padding: 10%;
  padding-left: 0%;
}
